[Unit]
Description=Telegram Bot API server
After=network.target

[Service]
Type=simple
User=nobody
Environment="TELEGRAM_API_ID="
Environment="TELEGRAM_API_HASH="
ExecStart=/opt/telegram-bot-api/telegram-bot-api --local --http-port=9191 --log=/dev/null --temp-dir=/var/tmp
Restart=on-failure
RestartSec=9s
MemoryMax=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
